header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 6.25rem;
  position: relative;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

header section {
  display: flex;
  align-items: start;
  text-align: start;
  position: absolute;
  right: 0
}

header .nav-bar-mobile {
  max-width: 10rem;
  width: 100%;
  flex-direction: column;
  background-color: white;
}

header .nav-bar-mobile nav {
  max-width: 100%;
  width: 100%
}

header .nav-bar-desktop ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


header ul li {
  padding: 1rem;
  font-weight: 600;
  opacity: .9;
  cursor: pointer;
  transition: all .25s ease;
}

header ul li:hover {
  color: var(--primary-red)
}

.close-menu {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding: 0.5rem;
  background-color: unset;
  border: none;
  align-self: flex-end;
  margin-bottom: 3rem;
}

.close-menu img {
  max-width: 100%
}
