@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
 
  line-height: 1.5rem;
  font-weight: 400;

  --primary-orange: hsl(35, 77%, 62%);
  --primary-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --gray-blue: hsl(233, 8%, 79%);
  --dark-grey: hsl(236, 13%, 42%);
  --dark-blue: hsl(240, 100%, 5%);

  --background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  padding: 1rem 0
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
  padding: .5rem 0
}

button {
  border: 1px solid transparent;
  padding: 0.8em 2.5em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--primary-red);
  color: var(--off-white);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  max-width: 100%;
}
